* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #192A32;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

@media (max-width: 900px) {
  html {
    font-size: 12px
  }
}

@media (max-width: 500px) {
  html {
    font-size: 10px
  }
}
